@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


:root {
    --border-style: 1px solid black;
    --app-yellow: #FBC017;
    --get-snuggy: fit-content;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto Serif", serif;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-style);
    background-color: var(--app-yellow);
    padding: 10px 30px;
    padding-right: 60px;
}

#header-logo-container {
    display: flex;
    align-items: center;
}

.logo-title {
    font-weight: 500;
}

#nav-links-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: black;
}

.nav-button {
    background-color: black;
    color: white;
    padding: 7px 15px;
    border-radius: 30px;
}

#main-container {
    display: flex;
    border-bottom: var(--border-style);
    height: 400px;
    align-items: center;
}

#discover-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 40%;
}

.discover-heading {
    font-size: 3.5rem;
    font-weight: 100;
}

.discover-text {
    margin-bottom: 50px;
}

.discover-button {
    background-color: black;
    color: white;
    padding: 10px 35px;
    border-radius: 30px;
    width: var(--get-snuggy);
}

#m-container {
    direction: flex;
    flex-wrap: wrap;
    width: 40%
    row-gap: 0;
}
